
.budget-item-container {

    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius : 5px;
}


.button {
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color:white;
    padding: 10px;
    border: none;
    border-radius: 5px
}

.input {
    padding:10px;
    width:20%;
    margin:5px;
}