


.add-item-button {
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color:white;
    width: 20%;
    border: none;
    border-radius: 5px;
}






.budget-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selector-element {
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin:10px;
    background-color: #f2f2f2;
}
