
.budget-selector-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.selector-element {
    padding: 10px;
    margin: 5px;
    border : 1px solid grey;
    background-color: white;
    border-radius: 5px;
    color:grey;
}

.budget-input-element {
    width: 60%;
    border-radius: 5px;
    padding :10px;
    border : 1px solid grey;
    margin:5px
}

.add-iten-button {
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color:white;
    width: 20%;
    border: none;
    border-radius: 5px;
}
